name: CI for Flask Docker App   
on: 
    push:
        branches: [ "main"]
        
    pull_request:
        branches: [ "main"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Build Docker image
              run: docker build -t ci-cd-docker-pipeline .

            - name: Run Docker Image
              run: |
                  docker run -d -p 5000:5000 --name test-container ci-cd-docker-pipeline 
                  sleep 5
                  curl --fail http://localhost:5000 || (docker logs test-container && exit 1)
        